{% import 'bootstrap/wtf.html' as wtf %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>AudioLED</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bootstrap.css') }}" media="screen" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div id="ledstrip" class="container"></div>
        <br><br><br>
        <h5>Settings</h5>
        {{ wtf.form_errors(form) }}
        {{ wtf.quick_form(form, form_type='horizontal', horizontal_columns=('sm', 1, 8), button_map={'submit': 'btn btn-primary btn-sm'})}}
    </div>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
    <script>
        var socket = io.connect('http://localhost');
        var ledstrip = document.getElementById('ledstrip');
        var N_PIXELS = 100
        var pixels = []

        for (var i = 0; i < N_PIXELS; i++) {
            pixel = document.createElement('div');
            pixel.innerText += ''
            pixel['background-color'] = 'black';
            pixel.className = 'ledlight';
            pixels.push(pixel)
            ledstrip.appendChild(pixel);
        }

        socket.on('update', function (msgs) {
            for (var i = 0; i < msgs.length; i++) {
                var msg = msgs[i]
                var n = msg[0]
                var r = Math.round(msg[1] * 255)
                var g = Math.round(msg[2] * 255)
                var b = Math.round(msg[3] * 255)
                var pixel = pixels[n]
                pixel.setAttribute('style', 'background-color: rgb(' + r + ', ' + g + ', ' + b + ')')
            }
        });
    </script>
</body>

</html>
