{% import 'bootstrap/wtf.html' as wtf %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>AudioLED</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bootstrap.css') }}" media="screen" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div id="ledstrip" class="container"></div>
        <br><br><br>
        <h5>Settings</h5>
        {{ wtf.form_errors(form) }}
        {{ wtf.quick_form(form, form_type='horizontal', horizontal_columns=('sm', 1, 8), button_map={'submit': 'btn btn-primary btn-sm'})}}
    </div>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>
