{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>AudioLED</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> #}
    <link href="{{ url_for('static', filename='cyborg.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
    <div id="ledstrip"></div>

    <div class="container">
        <div class="row">
            {% for key in plugins -%}
            <div class="col-lg" id="{{ key }}">
                {{ macros.render_plugins(plugins[key], key)}}
            </div>
            {%- endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>
